<!DOCTYPE html>
<html ng-app='MenuCategoriesApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Using $http Service</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js" type="text/javascript"></script>
    <script src="mycontrols.js"></script>
    <script src="myservic.js"></script>
  </head>
  <body>
    <h1>Using $http Service</h1>

    <div ng-controller='MenuCategoriesController as menu'>
      <h3>List of Menu Categories</h3>
      <ul>
        <li ng-repeat="category in menu.categories">
          (<a href="" ng-click="menu.logMenuItems(category.short_name);">{{ category.short_name }}</a>)
          {{ category.name }}
        </li>
      </ul>
      <br /><br />
      <pre>
        {{menu.short_name}}
      </pre>

    </div>

  </body>
</html>
